<!doctype html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="021_layout_html_head.html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Board </title>
    <meta name="description" content="" />
    <link rel="icon" href="../rsc/board-custom/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../rsc/board-custom/img/favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
        
    <link rel="stylesheet" id="bsdp-css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" >
    
    <link rel="stylesheet" href="../rsc/bootstrap-theme/theme.css">
    <link rel="stylesheet" href="../rsc/bootstrap-theme/template.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.kr.min.js" charset="UTF-8"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <script src="../rsc/board-custom/js/js_001_basic_common.js"></script>
    <script src="../rsc/board-custom/js/js_010_psdr_common.js"></script>
</head>

<body>

    <main>
        <section class="container" >
            <h3> 화면 목록 </h3>
            <ul class="list-group">
                <li class="list-group-item"> <a th:href="@{/main/main.html}" href="./110_main.html" > 110. 로그인 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/user/regi.html}" href="./311_user_regi.html" > 311. 사용자 등록 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/user/login.html}" href="./312_user_login.html" > 312. 사용자 로그인 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/user/find_id.html}" href="./313_user_find_id.html" > 313. 아이디/패스워드 찾기 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/user/info.html}" href="./314_user_info.html" > 314. 사용자 정보 변경 </a> </li> 

                <li class="list-group-item"> <a th:href="@{/user/manage_role.html}" href="./410_manage_user_role.html" > 410. 사용자 권한 관리 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/sys/monitor.html}" href="./420_sys_monitor.html" > 420. 시스템 모니터링 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/sys/user_stat.html}" href="./430_user_sys_stat.html" > 430. 사용자 시스템 이용 현황 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/sys/setting.html}" href="./440_sys_setting.html" > 440. 시스템 설정 </a> </li> 
                
                <li class="list-group-item"> <a th:href="@{/gen/about.html}" href="./511_about.html" > 511. 제품 소개 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/gen/privacy.html}" href="./512_privacy.html" > 512. 개인 정보 보호 정책 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/gen/site_map.html}" href="./520_site_map.html" > 520. 사이트 맵 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/article/list.html}" href="./530_article_list.html" > 530. 게시물 목록 </a> </li> 
                <li class="list-group-item"> <a th:href="@{/article/view.html}" href="./540_article_view.html" > 540. 게시물 조회 </a> </li> 
            </ul>
        </section>
    </main>

    <div th:replace="020_layout_common.html :: footer_include_01">
    </div>

</body>

</html>