<footer th:fragment="footer_01" class="bg-dark text-center">

    <div class="container py-3 text-center text-nowrap">
        <div class="row text-nowrap">
            <div class="col">&nbsp;</div>
            <div class="col">
                <a th:href="@{/gen/about.html}" class="nav-link text-white" href="#">
                    <i class="fas fa-home"></i>
                    &nbsp; 소개
                </a>
            </div>
            <div class="col">
                <a th:href="@{/gen/privacy.html}" class="nav-link text-white" href="#">
                    <i class="fas fa-user-secret"></i>
                    &nbsp; 개인정보취급방침</a>
            </div>
            <div class="col">
                <a th:href="@{/article/list.html}" class="nav-link text-white" href="#">
                    <i class="fas fa-newspaper"></i>
                    &nbsp; 게시판 </a>
            </div>
            <div class="col">
                <a th:href="@{/gen/site_map.html}" class="nav-link text-white" href="#">
                    <i class="fas fa-sitemap"></i>
                    &nbsp; 사이트맵</a>
            </div>
            <div class="col">&nbsp;</div>
        </div>

        <div class="row text-nowrap mt-2">
            <div class="col small">
                <span>
                    <i class="fas fa-phone"></i>&nbsp;
                    전화 : 000-000-0000 &nbsp;&nbsp;
                </span>
                <span>
                    <i class="fas fa-fax"></i>&nbsp;
                    팩스 : 999-999-9999 &nbsp;&nbsp;
                </span>
                <span>
                    <i class="fas fa-envelope"></i>&nbsp;
                    메일 : sunabove@nate.com &nbsp;&nbsp;
                </span>
                <p class="copyright mt-1"> ⓒ (주)모멘트기술연구소 All Rights Reserved. </p>
            </div>
        </div>
    </div>

</footer>