<!doctype html>

<html lang="ko">

<head th:replace="021_layout_html_head.html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Board </title>
    <meta name="description" content="" />
    <link rel="icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
        
    <link rel="stylesheet" id="bsdp-css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" >
    
    <link rel="stylesheet" href="../rsc/bootstrap-theme/theme.css">
    <link rel="stylesheet" href="../rsc/bootstrap-theme/template.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.kr.min.js" charset="UTF-8"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <script src="../rsc/psdr-custom/js/js_001_basic_common.js"></script>
    <script src="../rsc/psdr-custom/js/js_010_psdr_common.js"></script>
</head>

<body>

    <nav th:replace="022_layout_header.html :: header_01" class="navbar fixed-top navbar-expand-lg bg-primary text-center p-0 ">
    </nav>

    <nav th:replace="022_layout_header.html :: header_02" class="navbar fixed-top navbar-expand-lg bg-light p-0 pt-1 " style="margin-top: 68px">
    </nav>

    <form>

        <main style="margin-top: 90px;">

            <section class="container">

                <!-- 이미지 추가 S-->
                <div class="row">
                    <div class="col">
                        <img th:src="${sysBgImg_01} ? @{/file/sys/SYS_BG_IMG_01} : @{/rsc/psdr-custom/img/slider.jpg}" src="../rsc/psdr-custom/img/slider.jpg"
                            alt="타이틀 이미지" class="img-fluid rounded mx-auto my-3 d-block img-thumbnail" />
                    </div>
                </div>
                <!-- 이미지 추가 E-->

                <div class="row bg-info rouded">
                    <div class="col-5">
                        <a th:href="@{ /data/list.html }" class="navbar-brand font-weight-bold text-dark " href="#">
                            <i class="fas fa-bars d-inline-block"></i>&nbsp;
                            <p class="m-0 pt-1  d-inline-block">고장데이터 다운로드</p>
                        </a>
                    </div>
                    <div class="col-7">
                        <div class="input-group my-2">
                            <ul class="mr-auto">
                            </ul>
                            <div th:if="0"class="dropdown pr-2">
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="far fa-calendar-alt pr-1"></i>
                                        </div>
                                    </div>
                                    <input th:value="${ param.search_date }" name="search_date" type="text" class="form-control date_picker" placeholder="날짜"
                                        style="max-width: 110px;" value="" />
                                </div>
                            </div>
                            <button id="srch_btn" class="btn btn-primary my-2 my-sm-0" type="submit">
                                <i class="fas fa-search"></i>
                                &nbsp; 검색
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row py-4 ">

                    <div class="col p-0">
                        <div class="text-primary">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a th:classappend="${gubun_code == 'Comtrade'} ? active : _ " th:gubun_code="Comtrade" class="nav-link data_tab" href="#">
                                        &nbsp;
                                        <i class="fas fa-file-medical-alt h5"></i> &nbsp;
                                        <p class="d-inline-block"> Comtrade Data File </p>
                                    </a>
                                </li>
                                <li th:if="${ false }" class="nav-item">
                                    <a th:classappend="${gubun_code == 'Fault'} ? active : _ " th:gubun_code="Fault" class="nav-link data_tab" href="#">
                                        &nbsp;
                                        <i class="fas fa-file-medical-alt h5"></i> &nbsp;
                                        <p class="d-inline-block"> Fault Data File </p>
                                    </a>
                                </li>                                
                            </ul>
                        </div>

                        <div class="table-responsive">

                            <table class="table table-hover table-sm text-nowrap ">
                                <colgroup>
                                    <col width="100" />
                                    <col width="" />
                                    <col width="100" />
                                    <col width="100" />
                                </colgroup>

                                <c:set var="showDate" value="${ false }"/>

                                <thead class="text-center">
                                    <tr class="bg-light text-primary">
                                        <th>No.</th>
                                        <th>
                                            <i class="fa fa-file-contract"></i>&nbsp;&nbsp;파일</th>
                                        <th th:if="${ showDate }" >
                                            <i class="far fa-calendar-alt"></i> &nbsp; 날짜</th>
                                        <th>
                                            <i class="fas fa-download"></i>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="item, i : ${ dbFiles }" 
                                        th:file_id="${ item.fileId }" 
                                        th:file_no="${ item.fileNo }" 
                                        th:pair_file_no="${ item.getPairFileNo() }" 
                                        class="db_file_row" style="cursor: pointer;"
                                    >   
                                        <td class="align-middle text-right">
                                            <a th:href="@{/data/download_zip/__${ item.fileNo }__ }" href="#" >
                                                <span th:text="${ #numbers.formatInteger( item.rowNumer, 0,'COMMA' ) }">1</span>
                                            </a>
                                            &nbsp;&nbsp;
                                        </td>
                                        <td class="align-middle">
                                            <a th:href="@{/data/download_zip/__${ item.fileNo }__ }" href="#" >
                                                <span th:text="${ item.fileName }">고장 데이터 파일명.txt</span>
                                            </a>
                                        </td>
                                        <td th:if="${ showDate }" class="align-middle">
                                            <a th:href="@{/data/download_zip/__${ item.fileNo }__ }" href="#" >
                                                <span th:text="${ #dates.format( item.upDt, 'yyyy-MM-dd hh:mm:ss') }">
                                                    2018-07-27 14:30:25
                                                </span>
                                            </a>
                                        </td>
                                        <td class="align-middle text-center">
                                            <a th:href="@{/data/download_zip/__${ item.fileNo }__ }" href="#">
                                                <button type="button" class="btn btn-sm btn-primary align-bottom">
                                                    <i class="fas fa-download"></i>
                                                </button>
                                            </a>
                                        </td> 
                                    </tr>


                                    <tr th:each="i: ${ dbFiles.getPageEmptyRowSequence( 10 ) }">
                                        <td colspan="100%">&nbsp;</td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr class="text-center">
                                        <th class="text-center" colspan="100%">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item">
                                                    <a class="page-link page-first" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li th:each="i : ${ dbFiles.getPageList( page ) }" class="page-item">
                                                    <a th:text="${ #numbers.formatInteger( i + 1 , 0,'COMMA' ) }" class="page-link page-no" href="#">
                                                        1
                                                    </a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link page-last" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>

            </section>
        </main>

        <input th:value="${ param.page }" type="hidden" name="page" value="0" />
        <input th:value="${ page.getTotalPages() }" type="hidden" id="pageLast" value="" />
        <input th:value="${ gubun_code }" type="hidden" name="gubun_code" value="0" />

    </form>

    <footer th:replace="024_layout_footer.html" class="bg-dark text-center">
    </footer>

    <div th:replace="020_layout_common.html :: footer_include_01">
    </div>

    <script>
        $(".db_file_row_old").click(
            function () {
                var file_no = $(this).attr( "file_no" );
                window.location.href = "./download/" + encodeURI(file_no);

                var pair_file_no = $(this).attr( "pair_file_no" );
                if( null != pair_file_no && "" != pair_file_no ) {
                    setTimeout(function(){ window.location.href = "./download/" + encodeURI( pair_file_no ); }, 3000);
                }
            }
        );

        $(".data_tab").click(
            function () {
                $("form input[name=gubun_code]").val($(this).attr("gubun_code"));

                $("form input[name=page]").attr("name", "");
                $("form").submit();
            }
        ); 

        $( ".date_picker" ).datepicker({
            format: "yyyy-mm-dd",
            endDate: '+1d',
            datesDisabled: '+1d',
            language: "kr",
            pickerPosition: "bottom right"
        }); 
    </script>

</body>

</html>