<!doctype html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="021_layout_html_head.html">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Board </title>
    <meta name="description" content="" />
    <link rel="icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
        
    <link rel="stylesheet" id="bsdp-css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" >
    
    <link rel="stylesheet" href="../rsc/bootstrap-theme/theme.css">
    <link rel="stylesheet" href="../rsc/bootstrap-theme/template.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.kr.min.js" charset="UTF-8"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <script src="../rsc/psdr-custom/js/js_001_basic_common.js"></script>
    <script src="../rsc/psdr-custom/js/js_010_psdr_common.js"></script>
</head>

<body>

	<nav th:replace="022_layout_header.html :: header_01" class="navbar fixed-top navbar-expand-lg bg-primary text-center p-0 ">
	</nav>

	<main>
		<!-- content -->

		<section class="container align-center" style=" margin-bottom: 70px;">

			<div class="row bg-info rouded">
				<div class="col-12">
					<a class="navbar-brand font-weight-bold text-dark " href="#">
						<i class="fas fa-bars d-inline-block"></i>&nbsp;
						<p class="m-0 pt-1  d-inline-block"> 로그인 </p>
					</a>
				</div>
			</div> 
			<br/> 

			<div class="row align-center" >
				<form class=" p-3 py-4 " method="GET">

					<div th:if="${ showLoginId }" class="form-group pb-3 text-primary">
						&nbsp;
						<i class="far fa-user"></i> &nbsp; 아이디 &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
						<i class="far fa-envelope"></i> &nbsp; 이메일
						<input th:value="${ #httpServletRequest.getParameter( 'user_id' ) }" th:classappend="${ login_error_msg } ? border-danger : _"
							type="text" id="user_id" name="user_id" class="form-control mt-2" placeholder="아이디" />
						<small class="form-text text-muted mt-2">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<span th:text="${ login_error_msg }" id="user_id_error" class="text-danger">
								아이디 또는 이메일 주소를 입력하세요.
							</span>
						</small>
					</div>

					<div class="form-group pb-3">
						<div class="text-primary">
							&nbsp;
							<i class="fas fa-key"></i> &nbsp; 암호
						</div>
						<input type="password" id="user_pass" name="user_pass" class="form-control mt-2" placeholder="암호" />
						<small class="form-text text-muted mt-2">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<span th:text="${ '' }" id="user_pass_error" class="text-danger">
								비밀번호를 입력하세요.
							</span>
						</small>
					</div>

					<div>
						<br/> 
					</div>

					<button type="submit" class="btn btn-primary btn-md btn-block align-center">
						<i class="fas fa-check ml-2"></i> &nbsp; 로그인
					</button>

				</form>
			</div>
		</section>
	</main>

	<footer th:replace="024_layout_footer.html" class="bg-dark text-center">  
	</footer>

	<div th:replace="020_layout_common.html :: footer_include_01">
	</div>

	<script>
		$(function () {
			var dbg = true;
			dbg && debug("Hello....")

			user_id = $( "#user_id" )
			if( user_id.length ) {
				$( "#user_id" ).val( Cookies.get( "user_id") );

				if( "" == $( "#user_id" ).val() ) {
					$( "#user_id" ).focus();
				} else {
					$( "#user_pass" ).focus();
				}
			} else {
				$( "#user_pass" ).focus();
			}
		});

		// validateSubmitForm
		function validateSubmitForm() {
			var valid = true;

			valid = validateLoginForm();

			return valid;
		}
		// -- validateSubmitForm
	</script>
</body>

</html>