<!doctype html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="021_layout_html_head.html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Board </title>
    <meta name="description" content="" />
    <link rel="icon" href="../rsc/board-custom/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../rsc/board-custom/img/favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
        
    <link rel="stylesheet" id="bsdp-css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" >
    
    <link rel="stylesheet" href="../rsc/bootstrap-theme/theme.css">
    <link rel="stylesheet" href="../rsc/bootstrap-theme/template.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.kr.min.js" charset="UTF-8"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <script src="../rsc/board-custom/js/js_001_basic_common.js"></script>
    <script src="../rsc/board-custom/js/js_010_psdr_common.js"></script>
</head>

<body>

    <nav th:replace="022_layout_header.html :: header_01" class="navbar fixed-top navbar-expand-lg bg-primary text-center p-0 ">
    </nav>

    <nav th:replace="022_layout_header.html :: header_02" class="navbar fixed-top navbar-expand-lg bg-light p-0 pt-1 " style="margin-top: 68px">
    </nav>

    <main>
        <section class="container" style=" margin-top:150px; margin-bottom: 50px;">

            <nav class="navbar navbar-expand-lg navbar-light bg-info rouded">
                <a class="navbar-brand font-weight-bold text-dark " href="#">
                    <i class="fas fa-bars d-inline-block"></i>&nbsp;
                    <p class="m-0 pt-1  d-inline-block">About</p>
                </a>

                <div class="collapse navbar-collapse ">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                </div>
            </nav>

            <div class="row py-4 ">

                <div class="col-md-12 ">
                    <div class="card p-2" style="overflow: hidden;">

                        <div class="form-group row px-2 pb-2 pt-0 ">
                            <label class="col-12 col-form-label form-control-label  d-inline-block mt-4">
                                <i class="fas fa-dot-circle pr-2 text-primary d-inline-block"></i>
                                <h3 class="d-inline-block text-primary ">시스템 소개</h3>

                                <p class="text-dark pt-4 ml-3">
                                    Java Spring MVC Framework과 JPA를 이용하여 만든 게시판입니다.
                                </p>

                                <div class="pt-2 ml-3">
                                    <p class="text-dark d-inline-block mb-1 font">
                                        <p class="d-inline-block mb-0 font-weight-bold">
                                            <span class="text-primary">01.</span>&nbsp;&nbsp; Spring MVC Framework 사용
                                        </p>
                                    </p>
                                    <p class="text-dark d-inline-block mb-1">
                                        <p class="d-inline-block mb-0 font-weight-bold">
                                            <span class="text-primary">02.</span>&nbsp;&nbsp; JPA Query 사용
                                        </p>
                                    </p>
                                    <p class="text-dark d-inline-block mb-1">
                                        <p class="d-inline-block mb-0 font-weight-bold">
                                            <span class="text-primary">03.</span>&nbsp;&nbsp; Thymeleaf Template 엔진 사용
                                        </p>
                                    </p>
                                    <p class="text-dark d-inline-block mb-1">
                                        <p class="d-inline-block mb-0 font-weight-bold">
                                            <span class="text-primary">04.</span>&nbsp;&nbsp; Template 프로젝트 분리
                                        </p>
                                    </p>
                                </div>
                            </label>
                        </div> 
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer th:replace="024_layout_footer.html" class="bg-dark text-center">
    </footer>

    <div th:replace="020_layout_common.html :: footer_include_01"> 
    </div>
</body>

</html>