<!doctype html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="021_layout_html_head.html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FDW HTML Template </title>
    <meta name="description" content="" />
    <link rel="icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />

    <link rel="shortcut icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />

    <link href="../rsc/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
    <link href="../rsc/bootstrap-theme/theme.css" rel="stylesheet">
    <link href="../rsc/bootstrap-theme/template.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
</head>

<body>

    <nav th:replace="022_layout_header.html :: header_01" class="navbar fixed-top navbar-expand-lg bg-primary text-center p-0 ">
    </nav>

    <nav th:replace="022_layout_header.html :: header_02" class="navbar fixed-top navbar-expand-lg bg-light p-0 pt-1 " style="margin-top: 68px">
    </nav>

    <main>
        <section class="container" style=" margin-top:150px; margin-bottom: 50px;">

            <nav class="navbar navbar-expand-lg navbar-light bg-info rouded">
                <a class="navbar-brand font-weight-bold text-dark " href="#">
                    <i class="fas fa-bars d-inline-block"></i>&nbsp;
                    <p class="m-0 pt-1  d-inline-block">About</p>
                </a>

                <div class="collapse navbar-collapse ">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                </div>
            </nav>

            <div class="row py-4 ">

                <div class="col-md-12 ">
                    <div class="card p-2" style="overflow: hidden;">

                        <div class="form-group row px-2 pb-2 pt-0 ">
                            <label class="col-12 col-form-label form-control-label  d-inline-block mt-4">
                                <i class="fas fa-dot-circle pr-2 text-primary d-inline-block"></i>
                                <h3 class="d-inline-block text-primary ">시스템 소개</h3>

                                <p class="text-dark pt-4 ml-3">
                                    오늘날 전력에너지 수급에서 대두되는 문제는 양질의 전기를 안전하고 신뢰성 있게 사용자에게 공급하는 것입니다.
                                    <br> 따라서, 전기의 품질을 분석하고, 신뢰성을 저해하는 사고가 발생하였을 때 이를 신속하게 분석, 파악하여 원인을 찾을 수 있는 기능을 가진
                                    <br> 종합적인 전력분석 시스템이 절실히 요구되고있습니다.
                                </p>

                                <div class="pt-2 ml-3">
                                    <p class="text-dark d-inline-block mb-1 font">

                                        <p class="d-inline-block mb-0 font-weight-bold">
                                            <span class="text-primary">01.</span>&nbsp;&nbsp; 다양한 저장조건을 제시</p>

                                    </p>
                                    <p class="text-dark d-inline-block mb-1">

                                        <p class="d-inline-block mb-0 font-weight-bold">
                                            <span class="text-primary">02.</span>&nbsp;&nbsp; 전력의 품질을 분석하기 위한 다양한 분석 도구 제공</p>

                                    </p>
                                    <p class="text-dark d-inline-block mb-1">
                                        <p class="d-inline-block mb-0 font-weight-bold">
                                            <span class="text-primary">03.</span>&nbsp;&nbsp; P, Q, V, f의 각 피더의 도식화 분석
                                        </p>
                                    </p>
                                    <p class="text-dark d-inline-block mb-1">
                                        <p class="d-inline-block mb-0 font-weight-bold">
                                            <span class="text-primary">04.</span>&nbsp;&nbsp; 사고점을 신속하게 찾는 고장점 표정기능
                                        </p>
                                    </p>
                                    <p class="text-dark d-inline-block mb-1">

                                        <p class="d-inline-block mb-0 font-weight-bold">
                                            <span class="text-primary">05.</span>&nbsp;&nbsp; Synchro-Phasor 기능</p>

                                    </p>
                                    <p class="text-dark pt-2">
                                        모든 분석화면, 재생화면에서 동일한 재생기능이 있으며, LAN 또는 WAN 통신으로 데이터를 원거리에서 취득할 수 있습니다.
                                    </p>
                                </div>
                            </label>
                        </div> 
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer th:replace="024_layout_footer.html" class="bg-dark text-center">
    </footer>

    <div th:replace="020_layout_common.html :: footer_include_01">
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../rsc/jquery/jquery-3.3.1.min.js"></script>

        <script src="../rsc/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    </div>
</body>

</html>