<!doctype html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="021_layout_html_head.html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FDW HTML Template </title>
    <meta name="description" content="" />
    <link rel="icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />

    <link rel="shortcut icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />

    <link href="../rsc/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
    <link href="../rsc/bootstrap-theme/theme.css" rel="stylesheet">
    <link href="../rsc/bootstrap-theme/template.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
</head>

<body>

    <nav th:replace="022_layout_header.html :: header_01" class="navbar fixed-top navbar-expand-lg bg-primary text-center p-0 ">

        <div class="container justify-content-center text-nowrap">
            <div class="row">
                <div class="col">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td class="align-middle">
                                    <a class="text-muted" href="#">
                                        <img src="../rsc/psdr-custom/img/logo_001_procom.png" alt="logo">
                                    </a>
                                </td>
                                <td>
                                    <a class="text-muted" href="#">
                                        <p class="display-4 font-weight-bold d-inline-block mb-0 align-center pl-2" style="color:#083358">FDW</p>
                                    </a>
                                    &nbsp;
                                </td>
                                <td></td>

                                <td class="text-left">
                                    <img src="../rsc/psdr-custom/img/logo_002_psdr.png" alt="name_img" style="height: 20px;">
                                    <br/>
                                    <img src="../rsc/psdr-custom/img/logo_003_fdw.png" alt="name_img" style="height: 22px;">
                                </td>
                                <td>
                                    &nbsp;
                                    <a class="text-muted" href="#">
                                        <img src="../rsc/psdr-custom/img/product.png" alt="product" style="height: 65px;">
                                    </a>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </nav>

    <nav th:replace="022_layout_header.html :: header_02" class="navbar fixed-top navbar-expand-lg bg-light p-0 pt-1 " style="margin-top: 68px">
    </nav>
    <main>

        <section class="container" style=" margin-top:150px; margin-bottom: 50px;">
            <nav class="navbar navbar-expand-lg navbar-light bg-info rouded">
                <a class="navbar-brand font-weight-bold text-dark " href="#">
                    <i class="fas fa-bars d-inline-block"></i>&nbsp;
                    <p class="m-0 pt-1  d-inline-block">개인정보 보호 정책</p>
                </a>
            </nav>

            <div class="row py-4 ">

                <div class="col-md-12 ">
                    <div class="card p-2" style="overflow: hidden;">

                        <div class="form-group row px-2 pb-2 pt-0 ">
                            <label class="col-12 col-form-label form-control-labeld-inline-block ">
                                
                                <div class="alert alert-dark font-weight-bold" role="alert">
                                	 개인정보 보호정책
                                </div>
                                <p class="text-dark pt-4 ml-1">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    본 개인정보 보호 정책은 당사의 웹사이트 서비스에서 제공하는 링크를 통해 액세스할 수 있는
                                    <br> 제3자 애플리케이션, 제품, 서비스, 웹사이트 또는 소셜 미디어 기능에는 적용되지 않습니다.
                                    <br>
                                    <br> 이러한 링크에 액세스할 경우, 당사의 웹사이트 서비스는 종료되며 제3자에서 귀하의 정보를 수집하거나 공유할 수 있습니다.
                                    <br>FDW는 FDW의 개인정보 보호 정책과다를 수 있는 제3자 웹사이트 또는 관련 개인정보 보호 방침을 제어, 승인 또는 보증하지 않습니다.
                                    <br>
                                    <br> FDW는 귀하가 이용할 제3자 웹사이트에서 개인정보를 수집하고 사용하도록 허용하기 전에 해당 웹사이트의 개인정보 보호 정책을 검토하는 것을<br> 권장합니다.
                                    <br>
                                    <br> 우리는 귀하가 FDW에 등록할 수 있도록 하고 귀하가 요청한 당사의 웹사이트 및 앱 그리고 다른 제품 또는 서비스를 귀하에게 제공하기 위해
                                    <br> 귀하의 개인 정보를 사용합니다.
                                </p>

                                <p class="pt-4 font-weight-bold">1. 개인정보의 수집목적 및 이용</p> 
                                <p class="text-dark pt-2 ml-1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                프로컴시스템 회원님 개인의 정보를 수집하는 목적은 본 사이트를 통하여 회원님께 최적의 맞춤화된 서비스를 제공해드리기 위한 것입니다. 각종의 컨텐츠를 무료 및 유료로 서비스해 드리고 있습니다. 이때 회원님께서 제공해주신 개인정보를 바탕으로 회원님께 보다 더 유용한 정보를 선택적으로 제공하는 것이 가능하게 됩니다.
                                 각종 서비스를 제공하기 위해서 광고를 게재합니다. 이때에도 회원님 개인에 대한 정보를 바탕으로 좀더 유용한 정보로서의 가치가 있는 광고를 선별적으로 전달할 수 있게 됩니다.
                                </p>

                                <p class="pt-4 font-weight-bold">2. 개인정보의 보유 및 폐기</p>
                                <p class="text-dark pt-2 ml-1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;귀하가 회원으로서 프로컴시스템 가 제공하는 서비스를 받는 동안 회원님의 개인정보는 프로컴시스템에서 계속 보유하며 서비스 제공을 위해 이용하게 됩니다. 다만 프로컴시스템 의 회원이 아래의 '7. 자신의 개인정보 열람, 정정 및 삭제'에서 설명한 절차에 따라 ID를 삭제하거나 가입해지를 요청한 경우와 회원님께 사전에 알려드린 개인정보를 제공받은 목적이 달성된 경우에 수집된 개인의 정보는 재생할 수 없는 방법에 의하여 하드디스크에서 완전히 삭제되며 어떠한 용도로도 열람 또는 이용할 수 없도록 처리됩니다.
                                </p>

                                <p class="pt-4 font-weight-bold">3. 개인정보의 제공 및 공유</p>
                                <p class="text-dark pt-2 ml-1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;원칙적으로 회원님의 개인정보를 타인 또는 타기업·기관에 공개하지 않습니다. 다만 회원님이 공개에 동의한 경우 또는 프로컴시스템 의 서비스 이용약관을 위배하는 사람이나 프로컴시스템 의 서비스를 이용하여 타인에게 법적인 피해를 주거나 미풍양속을 해치는 행위를 한 사람 등에게 법적인 조치를 취하기 위하여 개인정보를 공개해야 한다고 판단되는 충분한 근거가 있는 경우는 예외로 합니다.
                                프로컴시스템는 보다 나은 서비스 제공을 위해 회원님의 개인정보를 비즈니스 파트너와 공유할 수 있습니다. 이 경우에도 정보수집 또는 정보제공 이전에 회원님께 비즈니스 파트너가 누구인지, 어떤 정보가 왜 필요한지, 그리고 언제까지 어떻게 보호/관리되는지 알려드리고 동의를 구하는 절차를 거치게 되며, 회원님께서 동의하지 않는 경우에는 추가적인 정보를 수집하거나 비즈니스 파트너와 공유하지 않습니다.
                                성별, 연령별 기타 특정 조건의 집단에 대한 광고 게재 및 발송 시(예, 20대 여자)에도 회원님 개인의 정보는 광고를 의뢰한 개인이나 단체에 제공되지 않습니다. 기타 통계처리, 학술연구, 시장조사를 위하여 필요한 경우에는 특정한 개인을 식별할 수 없는 형태로만 정보가 제공됩니다.
                                </p>
                                <p class="pt-4 font-weight-bold">4. 개인정보보호를 위한 기술적/제도적 관리</p>
                                <p class="text-dark pt-2 ml-1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회원님의 개인정보는 비밀번호에 의해 보호되고 있습니다. 회원님 계정의 비밀번호는 오직 본인만이 알 수 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다. 따라서 회원님의 비밀번호는 누구에게도 알려주면 안됩니다. 또한 작업을 마치신 후에는 로그아웃(log-out)하시고 웹브라우저를 종료하는 것이 바람직합니다. 특히 다른 사람과 컴퓨터를 공유하여 사용하거나 공공장소에서 이용한 경우 개인정보가 다른 사람에게 알려지는 것을 막기 위해서 이와 같은 절차가 더욱 필요하다고 하겠습니다.
                                프로컴시스템는 백신프로그램을 이용하여 컴퓨터바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트 되며 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 제공함으로써 개인정보가 훼손되는 것을 방지하고 있습니다.
                                <br/><br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;해킹 등에 의해 회원의 개인정보가 유출되는 것을 막기 위해 현재 외부로부터의 침입을 차단하는 장치를 이용하여 외부로부터의 공격, 해킹 등을 막고 있으며, 각 서버마다 침입탐지시스템을 설치하여 24시간 침입을 감시하고 있습니다. 기타 회원 개인정보의 훼손에 대비해서 시스템과 데이터를 백업하여 만약의 사태에 대비하고 있습니다.
                                프로컴시스템는 개인정보 취급 직원을 최소한으로 제한하고 담당직원에 대한 수시 교육을 통하여 본 정책의 준수를 강조하고 있으며, 감사위원회의 감사를 통하여 본 정책의 이행사항 및 담당직원의 준수여부를 확인하여 문제가 발견될 경우 바로 시정조치하고 있습니다.
                                </p>
                                <p class="pt-4 font-weight-bold">5. 자신의 개인정보 열람, 정정 및 삭제</p>
                                <p class="text-dark pt-2 ml-1">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회원님은 언제든지 등록되어 있는 회원님의 개인정보를 열람하거나 정정하실 수 있으며, 아이디 삭제를 요청하실 수 있습니다.
                                개인정보와 관련하여 불만이나 의견이 있으신 분은 개인정보 관리담당자에게 메일로 의견을 주시면 접수 즉시 조치하고 처리결과를 통보해 드리겠습니다.
                                </p>
                            </label>


                        </div>



                    </div>


                </div>


            </div>
            </div>
        </section>

    </main>

    <footer th:replace="024_layout_footer.html" class="bg-dark text-center"> 
    </footer>

    <div th:replace="020_layout_common.html :: footer_include_01">
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../rsc/jquery/jquery-3.3.1.min.js"></script>

        <script src="../rsc/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    </div>

</body>

</html>