<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="021_layout_html_head.html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FDW HTML Template </title>
    <meta name="description" content="" />
    <link rel="icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />

    <link rel="shortcut icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />

    <link href="../rsc/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
    <link href="../rsc/bootstrap-theme/theme.css" rel="stylesheet">
    <link href="../rsc/bootstrap-theme/template.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
</head>

<body >

    <nav th:replace="022_layout_header.html :: header_01" class="navbar fixed-top navbar-expand-lg bg-primary text-center p-0 ">

        <div class="container justify-content-center text-nowrap">
            <div class="row">
                <div class="col">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td class="align-middle">
                                    <a class="text-muted" href="#">
                                        <img src="../rsc/psdr-custom/img/logo_001_procom.png" alt="logo">
                                    </a>
                                </td>
                                <td>
                                    <a class="text-muted" href="#">
                                        <p class="display-4 font-weight-bold d-inline-block mb-0 align-center pl-2" style="color:#083358">FDW</p>
                                    </a>
                                    &nbsp;
                                </td>
                                <td></td>

                                <td class="text-left">
                                    <img src="../rsc/psdr-custom/img/logo_002_psdr.png" alt="name_img" style="height: 20px;">
                                    <br/>
                                    <img src="../rsc/psdr-custom/img/logo_003_fdw.png" alt="name_img" style="height: 22px;">
                                </td>
                                <td>
                                    &nbsp;
                                    <a class="text-muted" href="#">
                                        <img src="../rsc/psdr-custom/img/product.png" alt="product" style="height: 65px;">
                                    </a>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </nav>

    <nav th:replace="022_layout_header.html :: header_02" class="navbar fixed-top navbar-expand-lg bg-light p-0 pt-1 " style="margin-top: 68px">

        <div class="container justify-content-center p-0">
            <div class="row">
                <div class="col">
                    <table class="text-nowrap" style="vertical-align: center; margin-top: 8px;">
                        <tbody>
                            <tr>
                                <td>
                                    <h5 class=" font-weight-bold text-primary p-0 m-0"> 경기지역본부 </h5>

                                </td>
                                <td>
                                    <h5 class="card-title text-dark font-weight-bold p-0 mb-0">
                                        &nbsp;성남전력지사 &nbsp;&nbsp;
                                    </h5>
                                </td>

                                <td class="text-left">
                                    <h6 class="card-body p-0 m-0 text-dark">
                                        <i class="far fa-clock"></i> &nbsp;
                                        <span>2018-07-25 14:25</span>
                                    </h6>
                                </td>
                                <td class="text-left">
                                    <h6 class="card-body p-0 m-0 text-dark">
                                        <i class="far fa-user"></i> &nbsp; 접속자 :
                                        <span>1,234</span>명
                                    </h6>
                                </td>
                                <td class="text-left">
                                    <h6 class="card-body p-0 m-0 text-dark">
                                        <i class="fa fa-download"></i> &nbsp; 다운로드 :
                                        <span>2,345</span>건
                                    </h6>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <h3 class="card-title text-warning font-weight-bold mb-0 "> 154kV 중원 변전소 &nbsp;</h3>
                                </td>
                                <td colspan="2" class="text-left">
                                    <h6 class="card-body p-0 m-0">
                                        <i class="far fa-bell "></i>
                                        &nbsp; 공지사항 :
                                        <span>사용자 정보 보호 정책이 변경되었습니다.</span>
                                    </h6>
                                </td>
                                <td class="text-right">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="far fa-user"></i>
                                        <span>접속 아이디</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDd">
                                        <a class="dropdown-item" href="#">로그 아웃</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">사용자 정보</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </nav>

    <main>
        <!-- content -->
        <section class="container " style=" margin-top:110px; margin-bottom: 80px;">
            
            <nav class="navbar navbar-expand-lg navbar-light bg-info rouded mb-4">
                <a class="navbar-brand font-weight-bold text-dark " href="#">
                    <i class="fas fa-bars d-inline-block"></i>&nbsp;
                    <p class="m-0 pt-1  d-inline-block">사이트 맵</p>
                </a>
            </nav>

            <div class="row ">

                <div class="col-12 ">
                    <div class="card"> 
                        <div class="row text-center card-body justify-content-center">
                            <div class="col-12 alert alert-primary font-weight-bold " role="alert">
                                소개
                            </div> 
                            <div class="col-3 ">
                                <a th:href="@{/gen/about.html}" href="" style="text-decoration: none;">
                                    <div class="card" >
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                            <h1 class=" display-4 text-primary">
                                                <span class="fas fa-digital-tachograph"></span>
                                            </h1>
                                            <h4 class=" text-primary text-nowrap">소개</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-3 ">
                                <a th:href="@{/gen/privacy.html}" href="" style="text-decoration: none;">
                                    <div class="card">
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                            <h1 class=" display-4 text-primary">
                                                <span class="fas fa-user-shield"></span>
                                            </h1>
                                            <h4 class=" text-primary text-nowrap">개인정보 </h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-3 ">
                                <a th:href="@{/article/list.html}" href="" style="text-decoration: none;">
                                    <div class="card">
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                            <h1 class=" display-4 text-primary">
                                                <span class="fas fa-newspaper"></span>
                                            </h1>
                                            <h4 class=" text-primary text-nowrap">게시판</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row text-center card-body justify-content-center">
                            <div class="col-lg-12 alert alert-primary font-weight-bold " role="alert">
                                시스템 관리
                            </div>
                            <div class="col-lg-3 ">
                                <a th:href="@{/user/manage_role.html}" href="" style="text-decoration: none;">
                                    <div class="card">
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                            <h1 class=" display-4 text-primary">
                                                <span class="fas fa-user-cog"></span>
                                            </h1>
                                            <h4 class=" text-primary text-nowrap">사용자 관리</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 ">
                                <a th:href="@{/sys/monitor.html}" href="" style="text-decoration: none;">
                                    <div class="card">
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                            <h1 class=" display-4 text-primary">
                                                <span class="fas fa-chart-line"></span>
                                            </h1>
                                            <h4 class=" text-primary text-nowrap">시스템 모니터링</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 ">
                                <a th:href="@{/sys/setting.html}" href="" style="text-decoration: none;">
                                    <div class="card">
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                            <h1 class=" display-4 text-primary">
                                                <span class="fas fa-cogs"></span>
                                            </h1>
                                            <h4 class=" text-primary text-nowrap">시스템 설정</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="row text-center card-body justify-content-center">
                            <div class="col-lg-12 alert alert-primary font-weight-bold " role="alert">
                                회원 관리
                            </div>
                            <div class="col-lg-3 ">
                                <a th:href="@{/user/info.html}" href="" style="text-decoration: none;">
                                    <div class="card">
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                            <h1 class=" display-4 text-primary">
                                                <span class="fas fa-user-edit"></span>
                                            </h1>
                                            <h4 class=" text-primary text-nowrap">사용자 정보 변경</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 ">
                                <a th:href="@{/user/find_id.html}" href="" style="text-decoration: none;">
                                    <div class="card">
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                            <h1 class=" display-4 text-primary">
                                                <span class="fas fa-search"></span>
                                            </h1>
                                            <h4 class=" text-primary text-nowrap">아이디 암호 찾기</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 ">
                                <a th:href="@{/data/down.html}" href="" style="text-decoration: none;">
                                    <div class="card">
                                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                            <h1 class=" display-4 text-primary">
                                                <span class="fas fa-download"></span>
                                            </h1>
                                            <h4 class=" text-primary text-nowrap">데이터파일 </h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- edit here -->

        </section>

        <!-- content -->

    </main>

    <footer th:replace="024_layout_footer.html" class="bg-dark text-center">

        <div class="container py-3 text-center text-nowrap">
            <div class="row text-nowrap">
                <div class="col">
                    <a class="nav-link text-white" href="#">
                        <i class="fas fa-home"></i>
                        &nbsp; 소개
                    </a>
                </div>
                <div class="col">
                    <a class="nav-link text-white" href="#">
                        <i class="fas fa-chalkboard-teacher"></i>
                        &nbsp; 제품소개</a>
                </div>
                <div class="col">
                    <a class="nav-link text-white" href="#">
                        <i class="fas fa-user-secret"></i>
                        &nbsp; 개인정보취급방침</a>
                </div>
                <div class="col">
                    <a class="nav-link text-white" href="#">
                        <i class="fas fa-newspaper"></i>
                        &nbsp; 게시판</a>
                </div>
                <div class="col">
                    <a class="nav-link text-white" href="#">
                        <i class="fas fa-sitemap"></i>
                        &nbsp; 사이트맵</a>
                </div>
            </div>

            <div class="row text-nowrap mt-2">
                <div class="col small">
                    <span>
                        <i class="fas fa-phone"></i>&nbsp; 전화 : 042-253-7007 &nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-fax"></i>&nbsp; 팩스 : 042-253-7009 &nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-envelope"></i>&nbsp; 메일 : procom@procom.co.kr &nbsp;&nbsp;
                    </span>
                    <p class="copyright mt-1"> ⓒ (주)프로컴시스템 All Rights Reserved. </p>
                </div>
            </div>

        </div>

    </footer>

    <div th:replace="020_layout_common.html :: footer_include_01">
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../rsc/jquery/jquery-3.3.1.min.js"></script>

        <script src="../rsc/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    </div>

</body>

</html>