<!doctype html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="021_layout_html_head.html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> HTML Template </title>
    <meta name="description" content="" />
    <link rel="icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../rsc/psdr-custom/img/favicon.ico" type="image/x-icon" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
    <link href="../rsc/bootstrap-theme/theme.css" rel="stylesheet">
    <link href="../rsc/bootstrap-theme/template.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
</head>

<body>

    <nav th:replace="022_layout_header.html :: header_01" class="navbar fixed-top navbar-expand-lg bg-primary text-center p-0 ">
    </nav>

    <nav th:replace="022_layout_header.html :: header_02" class="navbar fixed-top navbar-expand-lg bg-light p-0 pt-1 " style="margin-top: 68px">
    </nav>

    <form method="GET" >
        <main>
            <section class="container" style=" margin-top:150px; margin-bottom: 50px;">

                <div class="row bg-info rouded">
                    <div class="col-5">
                        <a th:href="@{ /data/list.html }" class="navbar-brand font-weight-bold text-dark " href="#">
                            <i class="fas fa-bars d-inline-block"></i>&nbsp;
                            <p class="m-0 pt-1 d-inline-block">
                                공지사항
                            </p>
                        </a>
                    </div>

                    <div class="col-7">
                        <div class="input-group my-2">
                            <ul class="mr-auto">
                            </ul>
                            <a  th:if="${ article.articleId }"
                                th:href="@{ /article/view.html }"
                                href="#" class="btn btn-primary " role="button" aria-pressed="true"
                            >
                                <i class="fa fa-edit"></i>&nbsp;
                                글쓰기
                            </a>
                            &nbsp;&nbsp;
                            <button th:if="${ articlePrev }" 
                                class="btn btn-sm btn-outline-dark" 
                            >
                                <a th:href="@{ '/article/view.html?id=' + ${articlePrev.articleId} }" 
                                    href="#" class="text-muted" 
                                >
                                    <i class="fas fa-angle-left pr-2"></i>
                                    이전글
                                </a>
                            </button>
                            &nbsp;
                            <button th:if="${ articleNext }" 
                                class="btn btn-sm btn-outline-dark"
                            >
                                <a th:href="@{ '/article/view.html?id=' + ${articleNext.articleId} }" 
                                    href="#" class="text-muted" 
                                >
                                    다음글
                                    <i class="fas fa-angle-right pl-2"></i>
                                </a>
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-dark">
                                <a th:href="@{ /article/list.html }" href="#">
                                    <i class="fas fa-bars pr-2" style="color: #fff"></i>
                                    목록
                                </a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row py-4">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-hover-no table-sm text-nowrap ">
                                <colgroup>
                                    <col width="100" />
                                    <col width="" />
                                    <col width="180" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="text-muted">
                                                &nbsp;
                                                <i class="fas fa-dot-circle pr-2 text-primary"></i>
                                                제목
                                            </label>
                                        </th>

                                        <th>
                                            <input th:value="${ article.title }" th:readonly="${ article.isReadonly( req ) }" name="article_title" class="form-control "
                                                type="text" required="" value="" placeholder="제목을 입력하세요."/>
                                        </th>
                                        <th>
                                            <div th:if="${ isAdmin && article.isUpdatable( req ) }" 
                                                class="custom-control custom-checkbox mb-1">
                                                <input 
                                                    th:checked="${ article.notice }"
                                                    name="article_notice" id="article_notice" 
                                                    type="checkbox" class="custom-control-input" 
                                                />
                                                <label class="custom-control-label" for="article_notice">
                                                    공지사항
                                                </label>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            &nbsp;
                                            <label class="text-muted">
                                                <i class="fas fa-dot-circle pr-2 text-primary"></i>
                                                작성자
                                            </label>
                                        </th>
                                        <th>
                                            <input th:value="${ article.getWriterId() }" class="form-control " style="max-width: 200px;" type="text" required="" readonly
                                                value="sunabove" />
                                        </th>
                                        <th>
                                            <input th:if="${ article.articleId }" th:value="${ #dates.format( article.saveDt, 'yyyy-MM-dd hh:mm:ss') }" class="form-control" style="max-width: 170px;"
                                                type="text" required="" readonly value="2018-07-27 12:33:40" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="100%">
                                            <div class="form-group">
                                                <textarea th:text="${ article.content }" th:readonly="${ article.isReadonly( req ) }" name="article_content" 
                                                	class="form-control text-left" rows="20" placeholder="본문을 입력하세요."></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="100%" class="text-center">
                                            &nbsp;
                                            <button th:if="${ article.isUpdatable( req ) }" id="save-cmd" class="btn btn-primary " type="button">
                                                <i class="fa fa-save pr-2 "></i>
                                                저장
                                            </button>
                                            <button th:if="${ article.isCancellable( req ) }" id="cancel-cmd" class="btn btn-secondary" type="button">
                                                <i class="fas fa-redo-alt pr-2 text-dark"></i>
                                                취소
                                            </button>
                                            <button th:if="${ article.isDeletable( req ) }" id="delete-cmd" class="btn btn-secondary" type="button">
                                                <i class="fas fa-times pr-2 text-dark"></i>
                                                삭제
                                            </button>
                                            &nbsp;
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>

                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </section>

        </main>

        <input type="hidden" name="article_id" value="" th:value="${ article.articleId }" />
        <input type="hidden" name="cmd" value="" />

    </form>

    <footer th:replace="024_layout_footer.html" class="bg-dark text-center">
    </footer>

    <div th:replace="020_layout_common.html :: footer_include_01">
    </div>

    <script>
        $("#cancel-cmd").click(function () {
            window.location.href = "list.html";
        });

        $("#delete-cmd").click(function () {
            $("form input[name=cmd]").val("delete");
            $("form").submit();
        });

        $("#save-cmd").click(function () {
            $("form input[name=cmd]").val("save");
            $("form").submit();
        });
    </script>

</body>

</html>